# Ignore everything
**

# Allow certain files and directories
!./src
!./public
!./tests

!./package*.json
!./LICENSE

# If you have dependencies on host then they'll be in build container which is nice.
!./node_modules

!./babel.config.js
!./tsconfig.json

# Recommended ignores, but we've ignored everything anyhow
**/node_modules
**/dist
README.md
.git
npm-debug
npm-debug.log
Dockerfile
.dockerignore