/* For testing and during development put styles here if they
don't belong exclusively to a specific component. */

/* Mouse pointer for table rows*/
tr {
    cursor: pointer;
}

.container {
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 2rem;
}

/* Vertically stacked elements */
.container-v {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding-top: 2rem;
}

/* Containers for where the space is not much */
.container-compact {
    display: flex;
    flex: auto;
    flex-direction: row;
}


/*div {
    scrollbar-width: none; !* Firefox *!
    -ms-overflow-style: none;  !* IE 10+ *!
    overflow-y:scroll;
    overflow-x:hidden;
}*/
