/* For testing and during development put styles here if they
don't belong exclusively to a specific component. */

/* Paragraph */
p {
    /*word-break: break-all;*/
    white-space: normal;
    /*width: 90%;*/
    padding: inherit;
    margin: 0;
    padding:0;
    width: 100%;
    position: relative;
    word-break: break-all;
}

.g2soa-btn {
    max-width: 150px;
    padding: 6px 10px;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 2px solid #cccccc;
    outline: none;
}

/* Vue cal */
.vuecal__event.sports {
    background-color: rgba(255, 102, 102, 0.9);
    border: 1px solid rgb(235, 82, 82);
    color: #fff;
}

.vuecal__event.sports.vuecal__event--focus {
    background-color: rgba(255, 102, 102, 1);
    border: 5px solid rgb(235, 230, 82);
    color: #fff;
}

/* Mouse pointer for table rows*/
tr {
    cursor: pointer;
}

.container {
    display: flex;
    flex-basis: 100%
    /*flex: auto;*/
    /*flex-direction: row;*/
    /*padding-top: 2rem;*/
}

/* Vertically stacked elements */
.container-v {
    display: flex;
    /*flex: auto;*/
    flex-direction: column;
    padding-top: 0rem;
}

/* Containers for where the space is not much */
.container-compact {
    display: flex;
    flex: auto;
    flex-direction: row;
}

.btn-a {
    margin: 10px;
    max-height: 40px;
    padding: 6px 10px;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 2px solid #cccccc;
    outline: none;
}

.clicked-row {
    border-right: 2px solid #0c4128;
    border-left: 3px solid #0c4128;
}

.main-content {
    /*max-width: 1000px;
    text-align: center;*/
}

/*div {
    scrollbar-width: none; !* Firefox *!
    -ms-overflow-style: none;  !* IE 10+ *!
    overflow-y:scroll;
    overflow-x:hidden;
}*/
