/* For testing and during development put styles here if they
don't belong exclusively to a specific component. */

/* Transitions */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


/* FORMS */
#event-form-box {
    /*justify-content: space-evenly;*/
}

.inline-checkbox-group {
    justify-content: space-between;
}

.form-group {
    flex-direction: row;
    margin: 1em;
}
.form-group label {
    margin-bottom: 1em;
}
.form-row {
    flex-direction: column;
}




/* Evil paragraph */
p {
    /*word-break: break-all;*/
    white-space: normal;
    /*width: 90%;*/
    margin: 0;
    padding:0;
    width: 100%;
    position: relative;
    word-break: break-all;
}


/* Buttons */
/* obsolete use btn-a */
/*.g2soa-btn {
    max-width: 150px;
    padding: 6px 10px;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 2px solid #cccccc;
    outline: none;
}*/

.btn-a {
    margin: 10px;
    max-height: 50px;
    padding: 8px 15px;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 2px solid #cccccc;
    outline: none;
}


/* Vue cal */
.vuecal__event.sports {
    background-color: rgba(255, 102, 102, 0.9);
    border: 1px solid rgb(235, 82, 82);
    color: #fff;
}

.vuecal__event.sports.vuecal__event--focus {
    background-color: rgba(255, 102, 102, 1);
    border: 3px solid rgb(235, 230, 82);
    color: #fff;
}

/* Mouse pointer for table rows*/
tr {
    cursor: pointer;
}

.container {
    display: flex;
    flex-basis: 95%
    /*flex: auto;*/
    /*flex-direction: row;*/
    /*padding-top: 2rem;*/
}

/* Vertically stacked elements */
.container-v {
    display: flex;
    /*flex: auto;*/
    flex-direction: column;
    padding-top: 0rem;
    width: 100%
}

/* Containers for where the space is not much */
.container-compact {
    display: flex;
    flex: auto;
    flex-direction: row;
}

.clicked-row {
    border-right: 2px solid #0c4128;
    border-left: 3px solid #0c4128;
}

.main-content {
    /*max-width: 1000px;
    text-align: center;*/
}

/*div {
    scrollbar-width: none; !* Firefox *!
    -ms-overflow-style: none;  !* IE 10+ *!
    overflow-y:scroll;
    overflow-x:hidden;
}*/
